{{> head}}    
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate aliquam iusto reprehenderit, quibusdam ipsum amet incidunt commodi labore quisquam ullam hic culpa! Repellat velit natus id quae beatae maiores similique.</p>
    </div>
    <div class="col-4">
        <img src="../assets/img/map.jpg" class="img-thumbnail"/>
    </div>
</div>

{{> footer}}