{{> head}}    
{{> navbar}}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Index - Hola {{capitalizar nombre}}</h1>
        <p class="lead">Se accede por http://localhost:3000/</p>
    </div>
</div>

{{> footer}}